@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:"Josefin Sans", sans-serif;
    color: white;
}

main {
    background-color: #191825;
    background-image: url("./img/backgroundMain.jpeg");

}

.navbar {
    background-image: url("./img/black-backg.jpeg");
    color: white;
    font-style: bold;
}

.dropdown-menu, .dropdown-item {
    color: white;
    font-style: bold;
    background-image: url("./img/backgroundMain.jpeg");
}

#dropdownId{
    color: white;
    font-style: bold;
}

.container {
    padding: 3%;
}

.formu {
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    gap: 10px;
    font-family:"Quicksand", sans-serif;
    font-size: 100%;
    color: #865DFF;
    border: 5px solid rgba(225, 18, 183, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(15px);/*es para darle efecto borroso al fondo*/
}

.formu h1,h2,th {
    color: #FFA3FD;
    font-weight: 900;
}

table {
    border: 3px solid #FFA3FD !important;
    
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


label {
    width: 100%;
}

td .btn {
    width: 100%;
    margin: 1%;
}

.btn-success {
    background-color: #865DFF;
    border-color: #FFA3FD;
}
.button:hover .btn-success{ 
    background-color: red;
    cursor: pointer;

}